{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<style>
  .list-group-item {
    background-color: var(--form-bg-color);
    color: var(--form-text-color);
    border: 10px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .form-control {
    background-color: var(--form-bg-color);
    color: var(--form-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .form-control::placeholder {
    color: #999;
  }
</style>
<h1 align="center">Notes 📋</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote('{{ note.id }}')">
            <span aria-hidden="true"><i class="fa fa-trash"></i></span>
        </button>
    </li>
    <br/>
    {% endfor %}
</ul>

<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
{% endblock %}